 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/bitters/app/assets/stylesheets/base';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

$base-body-color: #2CC0B3;

span {
  position: absolute;
  left: 15px;
  top: 15px;
  color: #2CC0B3;
}

body {
  background-color: #2CC0B3;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:  #38595E;
  padding: 0 25px; 
  background-color: #F4733D;
}
 
h1 {
  font-family: 'Oleo Script Swash Caps', cursive;
  color: white;
  font-weight: 200;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
  margin-top: 50px;
  margin-left: 60px;
}

.info {
  text-align: center;
  float: left;
  width: 570px;
  margin: -35px auto;
}
 h3 {
  color:  #F6F7F8;
 }

#f1 {
  margin-top: 10px;
  transform: rotate(-80deg);
}

#f2 {
  transform: rotate(-80deg);
}
#f3 {
  transform: rotate(-80deg);
}

.bg {
@include span-columns(8);
@include shift(.1);
height: 110px;
border-radius: 10px;
opacity:.8;
margin-top: 5px;
margin-bottom: 5px;
box-shadow: inset 0px 5px 30px black, 0px 5px 45px #38595E;
}

.bg2 {
@include span-columns(8);
@include shift(.1);
height: 110px;
border-radius: 10px;
opacity:.8;
margin-top: 100px;
margin-bottom: 5px;
box-shadow: inset 0px 5px 30px black, 0px 5px 45px #38595E;
}

.bgPic {
width: 100%;
float: left;
display: block;
margin: 0 auto;
}

.bgPic2 {
float: left;
display: block;
margin: 0 auto;
margin-top: -90px;
}

input.blog_title {
  max-width: 200px;
  border-radius: 10px;
  float: left;
  border: none;
  box-shadow: inset 0 0 15px black;
}

input.blog_Author {
  border-radius: 10px;
  max-width: 200px;
  float: right;
  //have to include border none to set shadows to input
  border: none;
  box-shadow: inset 0px 0px 15px black;
}

.box-header:hover {
  cursor:pointer;
}
.box-author {
text-align: right;
margin-bottom: 15px;
margin-top: 15px;
text-align: center;
// border: none;
// box-shadow: inset 0px 0px 15px black;
}

.box-tags{
border-top: 1px solid #ddd;
color: #E3E4E5;
font-size: 0.8em;
padding: 11px;
// border: none;
// box-shadow: inset 0px 0px 15px black;
}

.camera {
  text-align: center;
  margin-bottom: 15px;
}

input.tags {
  max-width: 100px;
  border: none;
  box-shadow: inset 0 0 15px black;
  
}

input.blog_tags {
max-width: 150px;
border-radius: 5px;
float: left;
border: none;
box-shadow: inset 0 0 15px black;
}

textarea.blog_desc {
  border-radius: 5px;
  border: none;
  box-shadow: inset 0 0 15px black;
}

.infoContainer {
  display: none;
   @include outer-container;
   @include shift(3);
  margin-bottom: 5px;
  margin-right: -34px;

}
#newBlog{
  margin: 0 auto;
}

.blogContainer {
  @include outer-container;
 
}

.blogInfo {
@include span-columns(8);
@include shift(.1);
padding: 20px;
border-radius: 10px;
background-color:   #38595E;
box-shadow: inset 0px 5px 30px black, 0px 5px 45px #38595E;

}

.blogDescription {
@include span-columns(8);
@include shift(.1);
padding: 20px 20px 0 20px;
border-radius: 10px;
background-color:   #38595E;
box-shadow: inset 0px 5px 30px black, 0px 5px 45px #38595E;
text-align: center;
margin-bottom: 50px;

}

ul.blog_list li {
  margin-bottom: 25px;
}

// box info Styles

 .boxes {
   @include clearfix;

 }

 button.delete {
   margin-top: -39px;
   float: right;
   background-color:  #F4733D;
   margin-bottom: 10px;
   border-radius: 10px;
   box-shadow: inset 0px 0px 15px black;
 }

button.edit {
  background-color: transparent;
  padding: 0;
  margin-bottom: 11px;
}
  button.delete:hover {
   background-color: #2CC0B3;
 }

 input.submit {
  float: right;
  color:  #F6F7F8;
  background-color: #F4733D;
  border-radius: 10px;
  box-shadow: inset 0px 0px 15px black;
 }

 input.submit:hover {
  background-color:  #2CC0B3;
 }

 input.update {
  background-color: #F4733D;
  border-radius: 10px;
  box-shadow: inset 0px 0px 15px black;
 }

  input.update2 {
  background-color: #F4733D;
  border-radius: 10px;
  box-shadow: inset 0px 0px 15px black;
 }
  
 input.update:hover {
    background-color: #2CC0B3;
 }

  input.update2:hover {
    background-color: #2CC0B3;
 }
 
.fa {
  color: #F4733D;
}

.fa:hover {
  color: #2CC0B3;
}

.box {

  //using variables to give color, instead of defining one by one
  //$base-body-color: #2CC0B3; this is define at top to use here
   $box-border-color: $base-border-color;
   $box-border: 1px solid $box-border-color;
   $box-background: lighten($box-border-color, 10);
   $box-header-background: $box-background;
   $box-hover-background: lighten($box-background, 5);
   $box-image-background: #38595E;
   $box-image-hover-background: lighten($box-image-background, 5);
   $box-stats-color: lighten($base-accent-color, 10);



   @include transition (all 0.5s ease-in-out);
   background-color: $box-background;
   border-radius:10px;
   border: $box-border;
   margin-bottom: $base-line-height;
   box-shadow: 0 2px 4px darken($base-body-color, 10);
   position: relative;

   .ribbon-wrapper {
    //ribbon size
     $ribbon-size: 85px;
     //ribbon color
     $ribbon-background: black;
     @include size($ribbon-size);
     overflow: hidden;
     position: absolute;
     top: -1px;
     right: -1px;

     .ribbon {
       font-size: 0.8em;
       font-weight: 800;
       text-align: center;
       @include transform(rotate(45deg));
       position: relative;
       left: -5px;
       top: 15px;
       height: 105px;
       width: 50px;
       //you can set black or just practice using variables
       background-color: $ribbon-background;
       color: white;
       box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
     }
   }

   .box-header {
     @include transition (all .4s ease-in-out);
     background-color: $box-header-background;
     border-bottom: $box-border;
     border-radius: 10px;
     font-weight: bold;
     color: #2CC0B3;
     font-size: 2.5em;
     padding: $base-line-height/3 $gutter/2;
        border-radius: 10px;
   }

   .box-copy {
     padding: $base-line-height/2 $gutter/2;
     font-size: 1em;
     line-height: 1em;
   }

   &:hover {
     background-color: $box-hover-background;

     .box-image img {
       background: $box-image-hover-background;
     }

     .box-header {
       background-color: $box-hover-background;
     }
   }

   .actions {
     float: right;
     margin-top: -25px;
     margin-right: 10px;
     button {
       background-color: transparent;
     }
   }

   .clearfix {
     @include clearfix;
   }

   &:active {
     background-color: $box-background;

     .box-header {
       background-color: $box-background;
     }
   }
 }

// // @media only screen and (min-width: 1500px){
//  //this media is set at the min width of 1500 and you only use what is needed or change
//  //css will remembr the define properties and element, so don't repeat yourself  the only thing that you need to worry about is hiding or styling the page, VISUALLY 
  @media  (min-width: 1600px){

.bg {
@include span-columns(8);
@include shift(1.07);
height: 110px;
border-radius: 10px;
opacity:.8;
margin-top: 5px;
margin-bottom: 5px;
box-shadow: inset 0px 5px 30px black, 0px 5px 45px #38595E;
}

.bg2 {
@include span-columns(8);
@include shift(1.07);
height: 110px;
border-radius: 10px;
opacity:.8;
margin-top: 100px;
margin-bottom: 5px;
box-shadow: inset 0px 5px 30px black, 0px 5px 45px #38595E;
}

.blogInfo {
@include span-columns(8);
@include shift(1.07);
padding: 20px;
border-radius: 10px;
background-color:   #38595E;
box-shadow: inset 0px 5px 30px black, 0px 5px 45px #38595E;

}

.blogDescription {
@include span-columns(8);
@include shift(1.07);
padding: 20px 20px 0 20px;
border-radius: 10px;
background-color:   #38595E;
box-shadow: inset 0px 5px 30px black, 0px 5px 45px #38595E;
text-align: center;

}

  //end
}


//login stuff

// Custom Styles

.hero-unit {
  margin: 0 auto;
  min-width: 700px;
  max-width: 1200px;

  .container {
    width: 600px;
    font-size: 18px;
    font-weight: 200;
    line-height: 10px;
    border-radius: 6px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    margin: 0 auto;
  }
}

h3 {
font-size: 28px;
}

.form_container {
height: 90px;
position: absolute;
margin-top: 80px;
width: 632px;
}


#user_signup {
float: left;
position: relative;
margin: -14em 0em 0em 2.5em;
}

#user_login {
position: relative;
float: right;
margin: -11em 1.2em 0px 0px;
}


// img {
//   width: 50px;
//   height: 50px;
// }
//[type=submit] will target the type submit...or you can use name or even value

input.username {
line-height: normal;
box-shadow: inset 2px 3px 11px rgb(11,91,61), 1px 7px 12px rgb(120,52,36);
border-radius: 10px;
border: none;
//indent text inside input
text-indent: 40px;
font-family: 'Slackey', cursive;
margin-bottom: -5px;
}

input.password {
line-height: normal;
box-shadow: inset 2px 3px 11px rgb(11,91,61), 1px 7px 12px rgb(120,52,36);
border-radius: 10px;
border: none;
//indent text inside input
text-indent: 40px;
font-family: 'Slackey', cursive;
margin-bottom: -5px;
}

input.password2 {
line-height: normal;
box-shadow: inset 2px 3px 11px rgb(11,91,61), 1px 7px 12px rgb(120,52,36);
border-radius: 10px;
border: none;
//indent text inside input
text-indent: 20px;
font-family: 'Slackey', cursive;
margin-bottom: -5px;
}

input.email {
line-height: normal;
box-shadow: inset 2px 3px 11px rgb(11,91,61), 1px 7px 12px rgb(120,52,36);
border-radius: 10px;
border: none;
//indent text inside input
text-indent: 40px;
font-family: 'Slackey', cursive;
margin-bottom: -5px;
}


.confirm {
color: rgb(243, 240, 240);
font-size: 14px;
position: relative;
top: -31px;
left: 135px;
}

input.s1 {
    background: url('/images/signup.png');
    border: 0;
    display: block;
    height: 27px;
    width: 70px;
    &:hover {
      background-color: transparent;
    }
    // &:hover {
    //   opacity: .9;
    // }
}

input.s2 {
    background: url('/images/login.png') no-repeat;
    border: 0;
    display: block;
    width: 70px;
    &:hover {
      background-color: transparent;
    }
}

.b1 {
background: url('/images/logout.png') no-repeat;
border: 0;
width: 70px;
height: 30px;
position: absolute;
&:hover {
  background-color: transparent;
}
}

.user_info {
float: right;
margin-right: 4.5em;
}

.bgsign {
z-index: -9;
height: 300px;
width: 635px;
border-radius: 70px;
border: 10px solid rgba(192, 187, 187, 0.6);
position: relative;
}

::-webkit-input-placeholder {
   color: rgb(86,179,192);
}

// :-moz-placeholder { /* Firefox 18- */
//    color: rgb(86,179,192);
// }

// ::-moz-placeholder {  Firefox 19+
//    color: rgb(86,179,192);
// }

// :-ms-input-placeholder {  
//    color: rgb(86,179,192);
// }



/*Lets start with the cloud formation rather*/

/*The container will also serve as the SKY*/



#clouds{
padding: 185px 0;
opacity: 0.5;
z-index: -10;
position: absolute;
}

/*Time to finalise the cloud shape*/
.cloud {
  width: 200px; height: 60px;
  background: #fff;
  border-radius: 200px;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  position: relative; 
}

.cloud:before, .cloud:after {
  content: '';
  position: absolute; 
  background: #fff;
  width: 100px; height: 80px;
  position: absolute; top: -15px; left: 10px;
  
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  -moz-transform: rotate(30deg);
}

.cloud:after {
  content: '';
  width: 120px; height: 120px;
  top: -55px; left: auto; right: 15px;
}

/*Time to animate*/
.x1 {
  -webkit-animation: moveclouds 15s linear infinite;
  -moz-animation: moveclouds 15s linear infinite;
  -o-animation: moveclouds 15s linear infinite;
}

/*variable speed, opacity, and position of clouds for realistic effect*/
.x2 {
  left: 200px;
  
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 0.6; /*opacity proportional to the size*/
  
  /*Speed will also be proportional to the size and opacity*/
  /*More the speed. Less the time in 's' = seconds*/
  -webkit-animation: moveclouds 25s linear infinite;
  -moz-animation: moveclouds 25s linear infinite;
  -o-animation: moveclouds 25s linear infinite;
}

.x3 {
  left: -250px; top: -200px;
  
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.8; /*opacity proportional to the size*/
  
  -webkit-animation: moveclouds 20s linear infinite;
  -moz-animation: moveclouds 20s linear infinite;
  -o-animation: moveclouds 20s linear infinite;
}

.x4 {
  left: 470px; top: -250px;
  
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  transform: scale(0.75);
  opacity: 0.75; /*opacity proportional to the size*/
  
  -webkit-animation: moveclouds 18s linear infinite;
  -moz-animation: moveclouds 18s linear infinite;
  -o-animation: moveclouds 18s linear infinite;
}

.x5 {
  left: -150px; top: -150px;
  
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.8; /*opacity proportional to the size*/
  
  -webkit-animation: moveclouds 20s linear infinite;
  -moz-animation: moveclouds 20s linear infinite;
  -o-animation: moveclouds 20s linear infinite;
}

@-webkit-keyframes moveclouds {
  0% {margin-left: 1000px;}
  100% {margin-left: -1000px;}
}
@-moz-keyframes moveclouds {
  0% {margin-left: 1000px;}
  100% {margin-left: -1000px;}
}
@-o-keyframes moveclouds {
  0% {margin-left: 1000px;}
  100% {margin-left: -1000px;}
}

